/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;

}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  background-color: #f8f9fa;
}

.header h1 {
  font-size: 1.5em;
  font-weight: bold;
}

.header nav ul {
  display: flex;
  list-style: none;
}

.header nav ul li {
  margin-left: 20px;
}

.header nav ul li a {
  text-decoration: none;
  color: #000203;
  font-size: 1em;
  transition: color 0.3s;
}

.header nav ul li a:hover {
  color: #0056b3;
}

/* Main Content Styles */
.main-content {
  flex: 1; /* This will take up the available space between the header and footer */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 58vh;
}


/* Body Styles */
.body {
  width: 60%; /* Take up 60% of the page width */
  display: flex;
  justify-content: center;
  align-items: center; /* Centers the content */
  text-align: center;
  height: 100%;
  padding: 50px 0; /* Adjust padding to ensure spacing looks good */
}

.body h2 {
  font-size: 4em;
  color: #070707;
  margin-bottom: 100px;
  padding: 0;
}


.footer {
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
  border-top: 1px solid #ccc;
  background-color: #f8f9fa;
  margin: 0;
  position: relative;
  
}

.footer .footer-section {
  text-align: center;
}

.footer .footer-section h3 {
  margin-bottom: 2px;
  font-size: 1.2em;
  color: #333;
}

.footer .footer-section ul {
  list-style: none;
}

.footer .footer-section ul li {
  margin-bottom: 5px;
}

.footer .footer-section ul li a {
  text-decoration: none;
}

.footer .footer-section ul li a:hover {
  text-decoration: underline;
}



